{
  "name": "Example",
  "alerts": [
    {
      type: "stdout",
    },
    {
      type: "rollbar",
      "rollbarConfig": {
        "environment": {
          "value": "staging",
        },
        "token": {
          "valueFrom": "env",
          "key": "ROLLBAR_TOKEN",
        }
      }
    },
    {
      type: "slack-incoming-webhook",
      slackIncomingWebhookConfig: {
        url: "https://hooks.slack.com/services/",
      }
    },
  ],
  "targets": [
    {
      "url": "http://www.example.com/",
      "httpRequestConfig": {
        "expectedResponseCode": 404
      }
    },
    {
      "valueFrom": "env",
      "key": "EXAMPLE_URL",
      "httpRequestConfig": {
        "method": "POST",
        "contentType": "application/json",
        "body": "{}"
      }
    },
  ]
}